<table class="table" >
    <tr>
        <td>ID</td>
        <td>BUYERSNAME</td>
        <td>SHIPPINGADDRESS</td>
        <td>AMOUNT</td>
        <td>PHONE</td>
        <td>Deletion</td>
        <td>Updation</td>
    </tr>
    <tr *ngFor="let card of cards">
        <td>{{card.id}}</td>
        <td>{{card.buyer_fname}},{{card.buyer_lname}}</td>
        <td>{{card.street}},{{card.city}},{{card.state}},{{card.country}},{{card.pincode}}</td>
        <td>{{card.rupees}},{{card.paisa}}</td>
        <td>{{card.p1}},{{card.p2}},{{card.p3}},{{card.p4}},{{card.p5}},{{card.p6}},{{card.p7}},{{card.p8}},{{card.p9}},{{card.p10}}</td>
        <td><button class="btn btn-danger" (click)="deleteCard(card)">Delete</button></td>
        <td><button class="btn btn-primary" (click)="updateCard(card)">Update</button></td>
    </tr>
</table>
